body{background: rgb(235, 233, 233);}
#template{ 

    background-attachment: scroll;
    background: linear-gradient(45deg,rgba(255, 146, 5, 0.973),rgba(211, 118, 12, 0.884));
    position: absolute;
    top: 0px;
    left: 0px;
  
    height: 100px;
    width: 1350px;
    
    
    }
    section{
        position: absolute;
        top:150px ;
        left: 100px;
        background: white;
        padding:550px;
        width: 100px;
       
        height: 3500px;
        
    }
    .menu{
        color: white;
        position: absolute;
        top: 40px;
        left: 950px;
        text-decoration: none;
        height: 1000px;
        
        
    }
    .con{
        color: white;
        position: absolute;
        top: 40px;
        left: 1050px;
        text-decoration: none;
        
    }
    .au{
        color: white;
        position: absolute;
        top: 40px;
        left: 1200px;
        text-decoration: none;
    }
    
    #top{
        color: white;
        position: absolute;
        top: 7px;
        left: 200px;
        font-size: 25px;
        text-shadow: 6px 6px 6px white;
        font-family: cursive;
    }
    #conteudo{
        position: absolute;
        top: 80px;
        left: 100px;
        text-align: justify;
        
        
    }
    footer{
        position: absolute;
        top: 4650px;
        left: 0px;
        color: white;
        font-family: cursive;
        background-image: linear-gradient(45deg,rgba(8, 7, 6, 0.973),rgba(211, 118, 12, 0.884));
        height: 170px;
         width: 1350px;
        text-align: center;
        }
         #ft{
             color: white;
             font-family: cursive;
             position: absolute;
             top: 430px;
             left: 800px;

         }
         li{
             font-size: 25px;
             font-family: Georgia, 'Times New Roman', Times, serif;
         }
         
         .im{
             text-align: center;
             
         }
         h1{font-size: 60px;}
         p{
             font-size: 25px;
             font-family: Georgia, 'Times New Roman', Times, serif;
             text-align: justify;
         }
         .lin{
             text-decoration: none;
             color: rgb(236, 156, 9);
         }
         strong{color: rgb(236, 156, 9) ;}
         .in{
            text-align: center;
         }